.chart_and_controls {
    display: flex;
    flex-flow: column;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.gantt-container {
    border-left-style: solid;
    border-right-style: solid;
    border-width: 1px;
    border-color: lightgrey;
}

.controls {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.task_properties {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.task_general_info {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.task_general_info #description_days_length {
    width: 70px;
}


.task_properties hr {
    width: 100%;
    flex-basis: 100%;
    height: 0;
    margin: 0;
    border: 0;
}

.task_description {
    width: 100%;
}

.task_description textarea {
    width: 100%;
}
